<h2><%= @special.headline %></h2>
<p><%= @special.offer %></p>
<p>Expires: <%= @special.expires %></p>

<form method="post" action="/specials/<%= @special.id %>/delete">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete Post</button>
</form>

<h2>Edit Post</h2>
<form method="post" action="/specials/<%= @special.id %>"> 
    <input type="hidden" name="_method" value="put">
    <input type="string" name="headline" value="<%= @special.headline %>">
    <input type="text" name="offer" value="<%= @special.offer %>">
    <input type="date" name="expires" value="<%= @special.expires %>">
    <button type="submit">Update Post</button>
</form>

<a href="/specials">Back to List</a>