<a class="btn btn-primary" href="/jenna/specials">Back to List</a>
<div class="container">
    <h2><%= @special.headline %></h2>
    <p><%= @special.offer %></p>
    <p>Expires: <%= @special.expires.strftime("%m/%d/%y") %></p>
    
    <form method="post" action="/jenna/specials/<%= @special.id %>/delete">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete Post</button>
    </form>
    
    <h2>Edit Post</h2>
    <form method="post" action="/jenna/specials/<%= @special.id %>"> 
        <input type="hidden" name="_method" value="put">
        <label for="headline">Headline:</label><br>
        <input type="text" name="headline" value="<%= @special.headline %>"><br>
        <label for="offer">Offer:</label><br>
        <textarea rows="3" cols="50" name="offer"><%= @special.offer %></textarea><br>
        <label for="expires">Expires:</label><br>
        <input class="date" type="date" name="expires" value="<%= @special.expires %>">
        <button type="submit">Update Post</button>
    </form>
</div>
