<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../assets/app.css">
</head>
<body>
<div class="container">
    <img src="images/photos/<%= @photo.before_filename %>">
    <img src="images/photos/<%= @photo.after_filename %>">
    <p>Caption: <%= @photo.caption %></p>
    
    <form method="post" action="/photos/<%= @photo.id %>/delete">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete Post</button>
    </form>
    
    <h2>Edit Post</h2>
    <form method="post" action="/photos/<%= @photo.id %>"> 
        <input type="hidden" name="_method" value="put">
        <label for="before_filename">Before:</label><br>
        <input type="file" name="before_filename"><br>
        <label for="after_filename">After:</label><br>
        <input type="file" name="after_filename"><br>
        <label for="caption">Caption:</label><br>
        <input type="text" name="caption" value="<%= @photo.caption %>">
        <button type="submit">Update Post</button>
    </form>
    
    <a href="/photos">Back to List</a>
</div>

<script src="../assets/app.js"></script>
</body>
</html>