<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Widdle Waskles Grooming</title>
  <meta name="description" content="With over fourteen years experience grooming both cats and dogs, I can groom any breed to show or pet standard. I also work with aggressive pets to get them to like grooming again and elderly pets who may need a slower, gentler grooming proccess.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/app.css">
  <link rel="shortcut icon" href="/images/WWlogo.png" type="image/x-icon" />
</head>
<body>
  <%= erb :'partials/header' %>
  <%= erb :'partials/jumbotron' %>
  
  <div class="container-fluid">
    <div id="siteContent" class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= erb :'partials/tabs' %>
          <%= yield %>
          <%= erb :'partials/testimonial' %>
        </div>  
      </div>
    </div>
  </div>
  
  <script src="assets/app.js"></script>
</body>
</html>
